# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: LDAP Authentication Server
version: "0.2.0"
slug: ldap-auth-server
description: Add-on to add LDAP authentication to Home Assistant.
url: "https://github.com/vqvu/home-assistant-addons/ldap-auth-server"
image: ghcr.io/vqvu/{arch}-addon-ldap-auth-server
arch:
  - aarch64
  - amd64
startup: services
init: false
map:
  - type: addon_config
    read_only: true
ports:
  80/tcp: null
options:
  ldap_server_url: null
  bind_dn_template: null
schema:
  ldap_server_url: str
  bind_dn_template: str

  # Optional parameters
  search_base_dn: str?
  search_filter_template: str?
  server_root_cas_file: str?
  disable_server_cert_validation: bool?
  debug_mode: bool?
